/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Section Background */
.bmw-slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), 
                url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

/* Heading */
.bmw-slider-heading {
    text-align: center;
    color: white;
}

.bmw-slider-heading h3 {
    font-size: 50px;
}

.bmw-slider-subtitle {
    font-size: 20px;
}

/* Slider Structure */
.bmw-slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.bmw-slider-container {
    overflow: hidden;
}

.bmw-slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Slides */
.bmw-slide {
    min-width: 300px;
    max-width: 300px;
    background: whitesmoke;
    margin: 20px;
    border: 2px solid hsl(24, 37%, 18%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.bmw-slide:hover {
    transform: scale(1.05);
}

/* Images */
.bmw-slide-img img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid hsl(24, 37%, 18%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Text */
.bmw-slide-text {
    padding: 10px;
}

.bmw-slide-text h3 {
    color: rgb(63, 42, 29);
    margin-bottom: 5px;
}

.bmw-slide-text a {
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

/* Buttons */
.bmw-slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(17, 16, 16, 0.8);
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 20%;
    z-index: 2;
}

.bmw-slider-btn:hover {
    background: white;
}

.bmw-prev {
    left: 10px;
    color: whitesmoke;
}

.bmw-next {
    right: 10px;
    color: whitesmoke;
}

/* Responsive */
@media (max-width: 768px) {
    .bmw-slide {
        min-width: 250px;
        max-width: 250px;
    }
}
